<div class="page has-sidebar-left height-full">
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-medal9"></i>
                        {$app_name}
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="nav responsive-tab nav-material nav-material-white">
                  
				   <li><a class="nav-link " href="<?php echo url('/index/index/index'); ?>" role="tab"><i class="icon icon-barometer"></i>仪表盘</a></li>
                  <li class="float-right"><a class="nav-link active"><i class="icon icon-key6"></i> APP key</a></li>
                  
                </ul>
              

              
            </div>
        </div>
    </header>
    <div class="container-fluid relative animatedParent animateOnce">
        <div class="tab-content pb-3">
  
            <!--Yesterday Tab Start-->
            <div class="tab-pane animated fadeInUpShort go active show">
                   <div class="animatedParent animateOnce">
                      <div class="container-fluid my-3">
                          <div class="row">
                              <div class="col-md-7">
                                  <div class="card">
                                      <div class="card-body b-b">
                                          <h4>AppId Key</h4><hr><br>
                                          <form class="form-material"    role="form" id="form1" method="post" action="{:url('index/appId')}">
                                              <!-- Input -->
                                              <div class="body">

                                                  <h6>AppId </h6>
                                                  <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"  value="{:advert('47')}" name="appId" data-validate="required,minlength[4],maxlength[18]" placeholder="A************">
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>


                                                
                                                
                                                  <h6>Key </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   value="{:advert('48')}" name="connect_sid"  data-validate="required,minlength[4],maxlength[18]">
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>  
                                                

                                                
                                              </div>
                                              <!-- #END# Input -->
                                              <button type="submit" class="btn btn-primary">确认</button>
                                          </form>
                                        
                                      </div>
                                    
                                    

                                    


                                  </div>
                              </div>
                              <div class="col-md-5">
                                  <h3>KEY帮助</h3>
                                  <hr>
                                  <p>联系QQ   <a class="btn btn-xs btn-primary">1207629473</a>   获取.</p>
                                
                                  <hr>
                                  <h4 class="mt-5">未完待续</h4>
                                  <a href="#" target="_blank" class="btn btn-outline-primary btn-xs">Perfect Network Service</a>

                              </div>
                          </div>
                      </div>
                  </div>						
            </div>

        </div>
    </div>
</div>