<div class="page has-sidebar-left height-full">
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-android2"></i>
                        APP设置
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="nav responsive-tab nav-material nav-material-white">
                  
				   <li><a class="nav-link active" href="<?php echo url('/index/appsettings/price'); ?>" role="tab"><i class="icon icon-credit-card"></i>价格设置</a></li>
                  
                </ul>
              
              <!--右侧
                <a class="btn-fab fab-right btn-primary" data-toggle="control-sidebar">
                    <i class="icon icon-menu"></i>
                </a>
              -->
              
            </div>
        </div>
    </header>
    <div class="container-fluid relative animatedParent animateOnce">
        <div class="tab-content pb-3">
  
            <!--Yesterday Tab Start-->
            <div class="tab-pane animated fadeInUpShort go active show">
                   <div class="animatedParent animateOnce">
                      <div class="container-fluid my-3">
                          <div class="row">
                              <div class="col-md-7">
                                  <div class="card">
                                      <div class="card-body b-b">
                                          <form class="form-material"role="form" id="form1" method="post" action="{:url('appsettings/price')}" >
                                              <!-- Input -->
                                              <div class="body">

                                                  <h6>代理升级价格</h6>
                                                  <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="number" class="form-control"  name="daili_price" value="{$list['daili_price']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>


                                                
                                                  <h6>代理默认余额</h6>
                                                  <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="number" class="form-control"  name="daili_yue" value="{$list['daili_yue']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>


                                                
                                  
                                           <!--       <h6>用户支付接口(如不了解 请不要随意修改) </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="pay" value="{$list['pay']}">
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>  
                                                

                                                
                                              <h6>代理支付接口(如不了解 请不要随意修改) </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="d_pay" value="{$list['d_pay']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                         -->
                                                <br>
                                                <h4>会员升级价格设置	</h4>
                                                <hr>
                                                
                                                  <h6>体验价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="vip1" value="{$list['vip1']}"  >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>一月价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="vip2" value="{$list['vip2']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>三月价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="vip3" value="{$list['vip3']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>半年价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"  name="vip4" value="{$list['vip4']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>一年价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="vip5" value="{$list['vip5']}"  >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                  
                                                
                                                  <h6>永久价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="vip6" value="{$list['vip6']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div> 
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
    								 <br>
                                                <h4>代理取卡价格设置	</h4>
                                                <hr>
                                                
                                                  <h6>体验价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="d_vip1" value="{$list['d_vip1']}"  >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>一月价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="d_vip2" value="{$list['d_vip2']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>三月价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="d_vip3" value="{$list['d_vip3']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>半年价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"  name="d_vip4" value="{$list['d_vip4']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>一年价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="d_vip5" value="{$list['d_vip5']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                  
                                                
                                                  <h6>永久价格 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="d_vip6" value="{$list['d_vip6']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div> 
                                                                                             
                                                
                                                
                                                
                                                
                                                
              
    								 <br>
                                                <h4>发卡平台设置 	</h4>
                                                <hr>
                                                
                                                  <h6>体验卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="faka_vip1" value="{$list['faka_vip1']}"  >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>一月卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="faka_vip2" value="{$list['faka_vip2']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>三月卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="faka_vip3" value="{$list['faka_vip3']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>半年卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"  name="faka_vip4" value="{$list['faka_vip4']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                
                                                  <h6>一年卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"   name="faka_vip5" value="{$list['faka_vip5']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                  
                                                
                                                  <h6>永久卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="faka_vip6" value="{$list['faka_vip6']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div> 
                                                                                             

                                                  <h6>代理激活码发卡地址 </h6>
                                                
                                                   <div class="row clearfix">
                                                      <div class="col-sm-12">
                                                          <div class="form-group">
                                                              <div class="form-line">
                                                                  <input type="text" class="form-control"    name="faka_agent" value="{$list['faka_agent']}" >
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div> 
                                                                                             

                                                                                             
                                                
                                                
                                                
                                                
                                                
                                              </div>
                                              <!-- #END# Input -->
                                              <button type="submit" class="btn btn-primary">确认修改</button>
                                          </form>
                                        
                                      </div>
                                    
                                    

                                    


                                  </div>
                              </div>
                              <div class="col-md-5">
                                  <hr>
                                  <h3>价格设置帮助</h3>
                                
                                  <a  class="btn btn-xs btn-primary">代理升级价格</a><br><br>
                                  会在APP会员升级 和 代理升级页面显示<br>
                                <span class="text-Danger">如果APP工作模式为返佣将并且升级代理参与返佣将以此金额进行比例返佣</span> 
                                 
                                  <hr>
                                  <a  class="btn btn-xs btn-primary">代理默认余额</a><br><br>
                                  用户升级为代理后 账户默认余额（可以理解为赠送体验金额）<br><br>
                                注意：升级为代理时不管当前账户余额为多少 都会重置为当前设置的默认余额<br>
                                
                                  <hr>
                                
                                  <a  class="btn btn-xs btn-primary">会员升级价格</a><br><br>
                                  会在APP会员升级页面显示<br>
                                <span class="text-Danger">如果APP工作模式为返佣将以此阶梯金额进行比例返佣</span> 
                                
                                  <hr>
                                
                                  <a  class="btn btn-xs btn-primary">代理取卡价格</a><br><br>
                                  代理在管理中心生成激活码时价格<br>
                                
                                
                                  <hr>
                                
                                  <a  class="btn btn-xs btn-primary">发卡平台设置</a><br><br>
                                  填写后APP端会跳转发卡平台<br>
                                  留空将打开专属客服页面<br><br>
                                  <span class="btn btn-outline-primary btn-xs">如果代理发卡地址为空将打开管理员客服联系页面</span><br>
                                
    							<br>
                                
                                
                                
                                  <h4 class="mt-5">未完待续……</h4>
                                  <hr>
								
                                  <a class="btn btn-outline-primary btn-xs">Perfect Network Service</a>
                                

                              </div>
                          </div>
                      </div>
                  </div>						
            </div>

        </div>
    </div>
</div>