<div class="page has-sidebar-left  height-full">
  <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-user"></i> 用户管理 
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="nav responsive-tab nav-material nav-material-white">
                    
                    
                           <li>
                        <a class="nav-link "  href="{:url('vip/index')}" ><i class="icon icon-drivers-license"></i>用户列表</a>
                    </li>
                  <li><a class="nav-link active" href="{:url('vip/add')}"><i class="icon icon-donut_small"></i> 添加</a></li>
              </ul>
            </div>
        </div>
    </header>
  
  
  
  
    <div class="container-fluid animatedParent animateOnce">
        <div class="animated fadeInUpShort go">
          <div class="container-fluid my-3">
            <div class="row">
                <div class="col-md-7 ">
                         <form role="form" id="form1" method="post" action="{:url('vip/add')}" >
                        <div class="card no-b  no-r">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group m-0">
                                            <label for="name" class="col-form-label s-12">账户</label>
                                            <input class="form-control r-0 light s-12 " type="text"  name="name"   placeholder="账号"   minlength="6"  maxlength="18"  />
                                          
                                        </div>
                                      
                                      
                                     <div class="form-group m-0">
                                        <label  class="col-form-label s-12">密码</label>
                                        <input class="form-control r-0 light s-12" required="required"   type="password" id="password" name="password"   minlength="6"  maxlength="18"  placeholder="长度最小为4个字符,最大为18个字符">
                                    </div>
                                    
                                     <div class="form-group m-0">
                                        <label  class="col-form-label s-12">确认密码</label>
                                        <input class="form-control r-0 light s-12"  required="required"   type="password" name="_password" minlength="6"  maxlength="18"  placeholder="确认密码" >
                                    </div>

                                      
   
                                        <div class="form-row">
                                            <div class="form-group col-6 m-0">
                                                <label for="cnic" class="col-form-label s-12">会员套餐</label>
   
                                              
                                        <select class="custom-select my-1 mr-sm-2 form-control r-0 light s-12"  name="ctime" id="ss" >
                                           <option value="{$option['d_vip1']}">体验</option>
                                           <option value="{$option['d_vip2']}">一月</option>
                                           <option value="{$option['d_vip3']}">三月</option>
                                           <option value="{$option['d_vip4']}">半年</option>
                                           <option value="{$option['d_vip5']}">一年</option>
                                           <option value="{$option['d_vip6']}">永久</option>
                                        </select>                   
                                              
      
                                              
                                            </div>
               
                              
                                        </div>
    

                                    </div>
                                  


                                </div>

                            </div>
         
                            <hr>
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save mr-2"></i>确认添加</button>
                            </div>
                        </div>
                    </form>
                </div>
              
              
              
              
          <div class="col-md-5">
                                  <h3>会员添加</h3>
                                  <hr>
                                  <p>1.尽量关闭浏览器记住账号密码等功能,以免自动添加造成误解.</p>
                                  <p>2.字符长度： 6 ≥  账户/密码  ≤ 18 .</p>

            
                                  <h4 class="mt-5">未完待续</h4>
                                  <hr>
                              </div>    
              
              
              
              
              
              
              
              
            </div>
    </div>
    </div>
    </div>
</div>











{$code=='err3'?'
<div class="col-md-6">
    <div class="alert alert-danger" id="alert" style="position:fixed;right:0px;bottom:0px;  width: 350px">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <strong> 糟糕 !</strong> 您的余额不足，请联系管理员充值
    </div>
</div>

':''}
{$code=='err1'?'
<div class="col-md-6">
    <div class="alert alert-danger" id="alert" style="position:fixed;right:0px;bottom:0px;  width: 350px">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <strong> 糟糕 !</strong> 添加失败 .用户已存在
        .请重新添加
    </div>
</div>

':''}

{$code=='err2'?'
<div class="col-md-6">
    <div class="alert alert-danger" id="alert" style="position:fixed;right:0px;bottom:0px;  width: 350px">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <strong> 糟糕 !</strong> 添加失败
        .请重新添加
    </div>
</div>

':''}
<script>
    setTimeout("$('#alert').fadeOut(1000)",2000)
</script>