<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>完美网服</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
</head>
<body>
    <div id="warp">{$data}</div>
</body>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    // var simplemde = new SimpleMDE({
    //     element: document.getElementById("fieldTest"),
    //     autoDownloadFontAwesome: false,
    //     status: false
    // });
    // testMarkdown = simplemde.markdown();
</script>
</html>