<div class="page  has-sidebar-left height-full">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-movie_filter"></i>
                        私人影片
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <ul class="nav nav-material nav-material-white responsive-tab" >
                    <li>
                        <a class="nav-link active"  href="{:url('mn/index')}" ><i class="icon-th-list"></i> 私人影片列表</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{:url('mn/add')}"><i class="icon-add_circle"></i> 添加</a>
                    </li>

                </ul>
            </div>
        </div>
    </header>
  <div class="container-fluid animatedParent animateOnce">
        <div class="tab-content my-3">

            <div class="tab-pane animated fadeInUpShort go active " >
                <div class="row">
                  
                   {volist name="list" id="vo"}
                    <div class="col-md-3 my-3">
                        <div class="card no-b">
                            <div class="card-body text-center p-5">
                                <div class=" mb-3">
                                    <img  style="width: 100%; height: 350px" src="{$vo.img}">
                                </div>
                                <div>
                                    <h6 class="p-t-10"> {$vo.title}</h6>
                            <!---      {$vo.url}  -->
                                </div>
                              <br>
                              
                              <a href="{:url('mn/update',['id'=>$vo['id']])}" title="编辑" class="btn-fab btn-fab-sm btn-primary shadow text-white" style=" margin-right: 20px; "><i class="icon-pencil"></i></a>
                              
                              <a href="{:url('mn/del',['id'=>$vo['id']])}" title="删除" class="btn-fab btn-fab-sm btn-Danger shadow text-white"><i class="icon-close2"></i></a>
              
                            </div>
                        </div>
                    </div>
                    {/volist}

                </div>
            </div>
 {$list->render()}
        </div>
    </div>
</div>








{$code=='0'?'
<div class="col-md-6">
    <div class="alert alert-danger" id="alert" style="position:fixed;right:0px;bottom:0px;  width: 350px">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <strong> 糟糕 !</strong> '.$msg.'
    </div>
</div>

':''}
{$code=='1'?'
<div class="col-md-6" id="alert" style="position:fixed;right:0px;bottom:0px;  width: 350px">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>

        <strong>恭喜 !</strong> '.$msg.'.
    </div>
</div>

':''}
