<div class="page  has-sidebar-left height-full">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-image"></i>
                        首页轮播 / 广告设置
                    </h4>
                </div>
            </div>
            <div class="row justify-content-between">
                <ul class="nav nav-material nav-material-white responsive-tab" role="tablist">
                    
                <li><a class="nav-link" href="<?php echo url('/index/banner/index'); ?>" ><i class="icon icon-photo2"></i>首页轮播</a></li>
				<li><a class="nav-link  active show"  href="<?php echo url('/index/banner/add'); ?>"><i class="icon icon-plus-circle"></i> 添加</a></li>
					
				</ul>
            </div>
        </div>
    </header>
  
         
  <div class="container-fluid pt-5">
        <div class="text-center p-2">
            <i class="icon-mood_bad s-64 text-primary"></i>
            <h4></h4><br>
            <p> 无可用广告位 <br><span class="badge badge-primary  ">开放 {$banner_number}</span>  <span class="badge badge-primary  ">已用 {$yy_banner_number}</span></p>
        </div>
    </div>
  
  
  


</div>


